<div class="container">
  <div class="abs-center">
    <div>
      <form class="form-group" [formGroup]="formLogin" (ngSubmit)="Login()">
        <p><strong>Por favor, ingrese sus datos para iniciar sesión</strong></p>
        <br>
        <div class="form-outline mb-4">
          <!-- <label class="form-label">Usuario</label> -->
          <input
            type="text"
            formControlName="username"
            placeholder="Usuario"
            class="form-control"
          />
        </div>
        <div class="form-outline mb-4">
          <!-- <label class="form-label">Password</label> -->
          <input
            type="text"
            formControlName="password"
            placeholder="Contraseña"
            class="form-control"
          />
        </div>
        <div class="form-outline mb-4">
          <button
            [disabled]="!formLogin.valid"
            type="submit"
            class="btn btn-primary btn-block mb-4"
          >
            Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
